@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display:700,400,600');

@include font-face('icomoon', 'fonts/icomoon/icomoon', $ver: '?xqfgr7');

  
  [class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quotes-right:before {
  content: "\e902";
}
.icon-quotes-left:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
